.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}
.navbar {
  padding: 20px 40px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 16px;
  letter-spacing: 5px;
  position: static;
}
.navbar-nav li a:hover {
  color: #ff0000 !important;
}

.footer-padding {
  padding-bottom: 60px;
  left: 0px;
}

.footer {
  position: fixed;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: darkred;
}

.footer p {
  margin-top: 25px;
  font-size: 12px;
  color: #fff;
}

.navbar {
  background-color: black;
}

.main-body {
  padding: 60px;
  word-break: break-all;
}

body {
  position: relative;
  min-height: 100%;
}

.blogPreview *,
.blogPreview {
  display: block;
  max-width: 150ch;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
