<%- include ("partials/header") %>
<div class="main-body">
  <h1>Home</h1>
  <p><%- indexText %></p>
  <% blogText.forEach(element => { %>
  <p><%- element %></p>
  <% }) %>
</div>
<%- include ("partials/footer") %>
