<%- include ("partials/header") %>
<div class="main-body">
  <h1>Home</h1>
  <p class="blogPreview"><%- indexText %></p>
  <% for( let index = 0; index < blogText.length; index++ ) { %>
  <div class="blogPreview">
    <br />
    <%- blogText[index] %> <% } %>
  </div>
</div>
<%- include ("partials/footer") %>
