<%- include ("partials/header") %>
<div class="main-body">
  <h1>Compose</h1>
  <form action="/" method="post">
    <textarea
      name="blogPost"
      id="blogPost"
      cols="100"
      rows="10"
      placeholder="Enter text here - start with the title"
    ></textarea>
    <br />
    <button type="submit" class="btn btn-outline-dark">Publish</button>
  </form>
</div>
<script src="https://cdn.ckeditor.com/ckeditor5/35.1.0/classic/ckeditor.js"></script>
<script>
  ClassicEditor.create(document.querySelector("#blogPost")).catch((error) => {
    console.error(error);
  });
</script>

<%- include ("partials/footer") %>
