.headerDiv {
  background-color: orange;
  width: 100%;
  color: white;
  padding-left: 20px;
  padding-bottom: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-bottom: 20px;
}

body {
  display: contents;
}

html {
  background-color: whitesmoke;
}

body::after {
  content: "";
  display: block;
  height: 50px;
}

#root {
  display: flex;
}

.App {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer {
  position: absolute;
  display: flex;
  bottom: 0;
  width: 100%;
  height: 50px;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.card {
  margin: 2%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 5px;
}

.card:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 4px 10px;
}

.inputForm {
  margin: auto;
  width: 50%;
}

.submitButton {
  background-color: whitesmoke;
  border: none;
}
